@font-face{
    font-family: 'Montserrat';
    src: url("fonts/Montserrat.ttf");
    font-weight: bold;
    color: #000000;
}

:root{
    color-scheme: light;
}

html {
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: light-dark(#ffffff, #000000);
    color: light-dark(#000000, #ffffff);
    transition: background-color 0.3s, color 0.3s;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    min-height: 170px;

    border: 1px solid blue;
    border-radius: 20px;
    background-color: black;
}

.header-logo {
    position: absolute;
    top: 15px;
    left: 20px;
}

.header-logo img {
    width: 180px;
    height: auto;
}

.logo,
.logoNew {
    width: 250px;
    height: auto;
    flex-shrink: 0;
}

.header-text {
    text-align: center;
}

.header-text p {
    margin: 0;
    font-size: 55px;
    color: #fff;
    border-bottom: 8px solid blue;
}

.header-text p {
    margin: 0;
    font-size: 55px;
    font-stretch: normal;
    font-feature-settings: "tnum";
    font-synthesis-position: auto;
    color: #ffffff;
    font-style: unset;
    line-height: 1.5;
    border-bottom: 8px solid blue;
}

.header-text p, 
.logo,
.logoNew:active{
    cursor: pointer;
}


.main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    width: 90%;
}

.image-block {
    flex: 1;
    display: flex;
    justify-content: center;
}

.result-img {
    width: 100%;
    max-width: 650px;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

.support-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-bottom: 20px;
}

.support-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}

.logo-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.support-block p {
    font-size: 22px;
    line-height: 1.6;
    text-align: justify;
    display: revert;
    padding: 10px;
}

.support-block a{
    font-size: 50px;
    color: light-dark(#000000, #ffffff);
    font-weight: bold;
}

.main-next{
    display: flex;
    align-items: center;
    padding: 20px;
}

.main-next h1{
    font-size: 30px;
    padding-right: 30px;
}

.main-next img{
    width: 450px;
    height: auto;
    border: 2px solid light-dark(blue, #ffffff);
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
